.example {
  border-radius: $border-radius;
  padding: 1rem 1rem;
  margin: 0 0 1rem 2.5rem;
  font-family: $font-family-monospace;
  font-size: $font-size-sm;
  overflow-x: auto;
  line-height: $line-height-base;
  tab-size: 4;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.example-doks {
  background: $beige;
  color: $black;
}

.example-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.example-info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}

.example-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}

.example-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
