<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI Id="WixUI_AdvancedPaths">
			<UIRef Id="WixUI_Common" />
			<TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
			<TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
			<TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

			<DialogRef Id="BrowseDlg" />
			<DialogRef Id="CancelDlg" />
			<DialogRef Id="ErrorDlg" />
			<DialogRef Id="FatalError" />
			<DialogRef Id="ExitDialog" />
			<DialogRef Id="FilesInUse" />
			<DialogRef Id="MsiRMFilesInUse" />
			<DialogRef Id="PrepareDlg" />
			<DialogRef Id="ProgressDlg" />
			<DialogRef Id="ResumeDlg" />
			<DialogRef Id="UserExit" />
			<DialogRef Id="WelcomeDlg" />
			<DialogRef Id="LicenseAgreementDlg" />
			<DialogRef Id="InstallDirDlg" />
			<DialogRef Id="VerifyReadyDlg" />
			<DialogRef Id="MaintenanceWelcomeDlg" />
			<DialogRef Id="MaintenanceTypeDlg" />

			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">NOT Installed</Publish>
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceWelcomeDlg">Installed AND NOT PATCH</Publish>

			<Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
			<Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">LicenseAccepted = &quot;1&quot;</Publish>

			<Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
			<Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
			<Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="CM_DP_AppData" Order="2">1</Publish>
			<Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="ApplicationDataDirDlg" Order="3">1</Publish>
			<Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
			<Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

			<Publish Dialog="MaintenanceWelcomeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
			<Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

			<Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="ApplicationDataDirDlg">NOT Installed</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg">Installed AND NOT PATCH</Publish>

			<Publish Dialog="ApplicationDataDirDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg">1</Publish>
			<Publish Dialog="ApplicationDataDirDlg" Control="Next" Property="APPDATADIR" Value="[CM_DP_AppData]" Order="1">1</Publish>
			<Publish Dialog="ApplicationDataDirDlg" Control="Next" Event="SetTargetPath" Value="CM_DP_AppData" Order="2">1</Publish>
			<Publish Dialog="ApplicationDataDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="3">1</Publish>

			<Publish Dialog="ApplicationDataDirDlg" Control="ChangeAppData" Property="_BrowseProperty" Value="CM_DP_AppData" Order="1">1</Publish>
			<Publish Dialog="ApplicationDataDirDlg" Control="ChangeAppData" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

			<Publish Dialog="ApplicationDataDirDlg" Control="Cancel" Event="SpawnDialog" Value="CancelDlg">1</Publish>
			<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return">1</Publish>
		</UI>

		<UI>
			<Dialog Id="ApplicationDataDirDlg" Width="370" Height="270" Title="[ProductName] Setup" NoMinimize="yes">
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

				<Control Id="Title" Type="Text" X="15" Y="6" Width="220" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Application Data Folder" />
				<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="30" Transparent="yes" NoPrefix="yes" Text="Click Next to store to the default folder or click Change to choose another." />

				<Control Id="AppDataLabel" Type="Text" X="20" Y="60" Width="320" Height="15" Transparent="yes" NoPrefix="yes" Text="Store application data to:" />
				<Control Id="AppDataPath" Type="PathEdit" X="20" Y="100" Width="320" Height="18" Property="CM_DP_AppData" />
				<Control Id="ChangeAppData" Type="PushButton" X="20" Y="120" Width="56" Height="17" Text="Change..." />

				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)" />
			</Dialog>
		</UI>
	</Fragment>
</Wix>
